<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-media-retrieve"
    version="0.3.0">
    <name>MediaRetrieve</name>
    <description>Cordova Media Retrieve Plugin</description>
    <license>MIT License</license>
    <keywords>cordova,media,retrieve,image,audio,video</keywords>
    <repo>https://github.com/Luckyqiao/cordova-plugin-media-retrieve.git</repo>

    <js-module src="www/MediaRetrieve.js" name="MediaRetrieve">
        <clobbers target="MediaRetrieve" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MediaRetrieve">
                <param name="android-package" value="com.luckyqiao.cordova.MediaRetrieve"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/MediaRetrieve.java" target-dir="src/com/luckyqiao/cordova" />

     </platform>

</plugin>
